#This is a notebook AK used to document how demographic data was pulled from from CMS001_CMS002_MergedAnnotations_190325.csv file to generate Table S1 for CMS manuscript

#Set up python tools for pandas processing, read in data file, and check with head.

In [1]:
import pandas as pd
import numpy as np

In [2]:
AllMosData = pd.read_csv('CMS001_CMS002_MergedAnnotations_190325.csv', delimiter=',')

In [3]:
AllMosData.head()

,NewIDseqName,OldIDseqName,czbiohub-mosquito_sequences_id,raw_sequence_run_directory,host,sample_type,nucleotide_type,collection_date,collection_lat,collection_long,...,blood_fed,sample_unit,known_organism,detection_method,library_prep,sequencer,rna_dna_input_ng,library_prep_batch,extraction_batch,Notes:
0,CMS001_001_Ra_S1,CMS_001_RNA_A_S1,CMS_001_RNA_A_S1,czbiohub-seqbot/fastqs/180323_NB501961_0089_AH...,mosquito,whole,RNA,2017-10-03T00:00:00Z,37.55697,-122.07938,...,blood fed,1,NaN,NaN,NEBNext Ultra II Directional RNA Library Prep Kit,NextSeq,27.3,NaN,NaN,NaN
1,CMS001_002_Ra_S1,CMS_002_RNA_A_S1,CMS_002_RNA_A_S1,czbiohub-seqbot/fastqs/180412_NB501961_0097_AH...,mosquito,whole,RNA,2017-09-21T00:00:00Z,37.55697,-122.07938,...,blood fed,1,NaN,NaN,NEBNext Ultra II Directional RNA Library Prep Kit,NextSeq,59.8,NaN,NaN,NaN
2,CMS001_003_Ra_S2,CMS_003_RNA_A_S2,CMS_003_RNA_A_S2,czbiohub-seqbot/fastqs/180323_NB501961_0089_AH...,mosquito,whole,RNA,2017-09-19T00:00:00Z,37.55697,-122.07938,...,blood fed,1,NaN,NaN,NEBNext Ultra II Directional RNA Library Prep Kit,NextSeq,88.9,NaN,NaN,NaN
3,CMS001_004_Ra_S2,CMS_004_RNA_A_S2,CMS_004_RNA_A_S2,czbiohub-seqbot/fastqs/180412_NB501961_0097_AH...,mosquito,whole,RNA,2017-09-12T00:00:00Z,37.71520,-122.19431,...,blood fed,1,NaN,NaN,NEBNext Ultra II Directional RNA Library Prep Kit,NextSeq,88.4,NaN,NaN,NaN
4,CMS001_005_Ra_S3,CMS_005_RNA_A_S3,CMS_005_RNA_A_S3,czbiohub-seqbot/fastqs/180323_NB501961_0089_AH...,mosquito,whole,RNA,2017-09-29T00:00:00Z,37.78886,-122.29903,...,blood fed,1,NaN,NaN,NEBNext Ultra II Directional RNA Library Prep Kit,NextSeq,240.7,NaN,NaN,NaN

#Print column names to more easily view all column headers.

In [4]:
print(AllMosData.columns.values)

['NewIDseqName' 'OldIDseqName' 'czbiohub-mosquito_sequences_id'
 'raw_sequence_run_directory' 'host' 'sample_type' 'nucleotide_type'
 'collection_date' 'collection_lat' 'collection_long' 'Habitat'
 'Population' 'collected_by' 'preservation_method' 'sex' 'life_stage'
 'visual_genus' 'visual_species' 'compute_genus' 'compute_species'
 'blood_fed' 'sample_unit' 'known_organism' 'detection_method'
 'library_prep' 'sequencer' 'rna_dna_input_ng' 'library_prep_batch'
 'extraction_batch' 'Notes:']

#Select subset of data relevant for Table S1.

In [5]:
AllMosData[['NewIDseqName','visual_genus','visual_species','compute_genus','compute_species','sex','blood_fed','collected_by','collection_date','collection_lat','collection_long']]

,NewIDseqName,visual_genus,visual_species,compute_genus,compute_species,sex,blood_fed,collected_by,collection_date,collection_lat,collection_long
0,CMS001_001_Ra_S1,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380
1,CMS001_002_Ra_S1,Culiseta,particeps,Culiseta,particeps,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380
2,CMS001_003_Ra_S2,Culex,pipiens,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
3,CMS001_004_Ra_S2,Culiseta,incidens,Culiseta,incidens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310
4,CMS001_005_Ra_S3,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030
5,CMS001_006_Ra_S5,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
6,CMS001_007_Ra_S12,Culiseta,particeps,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
7,CMS001_008_Ra_S3,Culiseta,particeps,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
8,CMS001_009_Ra_S13,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
9,CMS001_010_Ra_S1,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
10,CMS001_011_Ra_S4,Aedes,dorsalis,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
11,CMS001_012_Ra_S4,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
12,CMS001_013_Ra_S5,Culiseta,incidens,Culiseta,incidens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380
13,CMS001_014_Ra_S5,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380
14,CMS001_015_Ra_S13,Culiseta,inornata,Culiseta,inornata,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380
15,CMS001_016_Ra_S6,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460
16,CMS001_017_Ra_S6,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380
17,CMS001_018_Ra_S14,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380
18,CMS001_019_Ra_S14,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380
19,CMS001_020_Ra_S15,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460
20,CMS001_021_Ra_S16,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380
21,CMS001_022_Ra_S6,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380
22,CMS001_023_Ra_S17,Culex,erythrothorax,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380
23,CMS001_024_Ra_S15,Culex,tarsalis,Culiseta,particeps,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380
24,CMS001_025_Ra_S7,Culex,tarsalis,Culiseta,incidens,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380
25,CMS001_026_Ra_S18,Culex,tarsalis,Culex,tarsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.509530,-121.931130
26,CMS001_027_Ra_S16,Culex,tarsalis,Culex,tarsalis,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.866500,-122.310510
27,CMS001_028_Ra_S17,Culex,pipiens,Culex,pipiens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310
28,CMS001_029_Ra_S18,Culex,pipiens,Culex,pipiens,female,blood fed,ALCO,2017-09-13T00:00:00Z,37.684730,-121.913410
29,CMS001_030_Ra_S7,Culex,tarsalis,Culex,tarsalis,female,blood fed,ALCO,2017-09-10T00:00:00Z,37.715200,-122.194310
...,...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.739939,-121.305636
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.824306,-121.257067
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.897572,-121.311747
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.836781,-121.391190
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.772222,-121.469500
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,Culex,pipiens,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Surprising number of NaN for sex field. Use count to investigate.

In [6]:
AllMosData.groupby('sex').count()

,NewIDseqName,OldIDseqName,czbiohub-mosquito_sequences_id,raw_sequence_run_directory,host,sample_type,nucleotide_type,collection_date,collection_lat,collection_long,...,blood_fed,sample_unit,known_organism,detection_method,library_prep,sequencer,rna_dna_input_ng,library_prep_batch,extraction_batch,Notes:
sex,,,,,,,,,,,,,,,,,,,,,
female,91,91,91,91,91,91,91,89,89,89,...,91,91,0,0,91,91,91,0,31,22
male,4,4,4,4,4,4,4,4,4,4,...,4,4,0,0,4,4,3,0,4,4

#These numbers match "female" and "male" grep I did as a sanity check on source data file - quite a few samples from SoCal where no sex was reported. 
##Action item? Identify a sex-specific gene (or set of genes), test if they can be recovered in ground truth males & females, then use this on unsexed samples?

In [ ]:
#Next, checked on Habitat features per discussion in 4/30/19 meeting - there's quite a bit of diversity there!

In [7]:
AllMosData.groupby('Habitat').count()[['collected_by']]

                                                    collected_by
Habitat
 Industrial (waste water treatment plant)                      4
Agriculture                                                    1
Agriculture & Residential                                      1
Agriculture; Marsh; Undeveloped                                5
Commercial/Industrial/Transportation                           2
Commerical/Industrial/Transportation                           5
Golf Course                                                    4
Marsh                                                         11
Marsh / Wildlife Refuge / Park                                32
Marsh/Swamp                                                   15
Marsh; Undeveloped                                             5
Park                                                           2
Park / Undeveloped                                             1
Park / adjacent to  Industrial (waste water tre...             1
Park/cemetary/golf course                                      3
Residential                                                   40
Residential                                                    2
Residential; Undeveloped                                       2
Undeveloped                                                    9
Wetland Preserve                                               1

#Next, checked on discrepancies between computed species calls and visual calls.

In [8]:
AllMosData['visual_equals_compute'] = AllMosData['visual_species'] == AllMosData['compute_species']

In [9]:
AllMosData.groupby('visual_equals_compute').count()

,NewIDseqName,OldIDseqName,czbiohub-mosquito_sequences_id,raw_sequence_run_directory,host,sample_type,nucleotide_type,collection_date,collection_lat,collection_long,...,blood_fed,sample_unit,known_organism,detection_method,library_prep,sequencer,rna_dna_input_ng,library_prep_batch,extraction_batch,Notes:
visual_equals_compute,,,,,,,,,,,,,,,,,,,,,
False,17,17,17,17,5,12,17,3,3,3,...,4,17,0,0,17,17,4,0,8,0
True,144,144,144,144,144,144,144,143,143,143,...,144,144,0,0,144,144,135,0,88,75

#Quick print all column names again.

In [10]:
print(AllMosData.columns.values)

['NewIDseqName' 'OldIDseqName' 'czbiohub-mosquito_sequences_id'
 'raw_sequence_run_directory' 'host' 'sample_type' 'nucleotide_type'
 'collection_date' 'collection_lat' 'collection_long' 'Habitat'
 'Population' 'collected_by' 'preservation_method' 'sex' 'life_stage'
 'visual_genus' 'visual_species' 'compute_genus' 'compute_species'
 'blood_fed' 'sample_unit' 'known_organism' 'detection_method'
 'library_prep' 'sequencer' 'rna_dna_input_ng' 'library_prep_batch'
 'extraction_batch' 'Notes:' 'visual_equals_compute']

#Sort dataframe on 'visual_equals_compute' columns and head to get a look at the 17 discordant samples.

In [11]:
AllMosData.sort_values("visual_equals_compute")[['NewIDseqName', 'visual_equals_compute','visual_genus','visual_species','compute_genus','compute_species']].head(20)

,NewIDseqName,visual_equals_compute,visual_genus,visual_species,compute_genus,compute_species
160,CMS002_Water8_Rb_S11_L004,False,NaN,NaN,NaN,NaN
62,CMS001_water3_Qiagen_S26,False,NaN,NaN,NaN,NaN
24,CMS001_025_Ra_S7,False,Culex,tarsalis,Culiseta,incidens
23,CMS001_024_Ra_S15,False,Culex,tarsalis,Culiseta,particeps
44,CMS001_045_Ra_S2,False,Culex,tarsalis,Culex,erythrothorax
61,CMS001_water2_S24,False,NaN,NaN,NaN,NaN
60,CMS001_water1_S11,False,NaN,NaN,NaN,NaN
57,CMS001_058_Ra_S9,False,NaN,NaN,Culex,erythrothorax
63,CMS001_water4_Zymo_S27,False,NaN,NaN,NaN,NaN
64,CMS001_water5_RNA_A_S12,False,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,False,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,False,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,False,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,False,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,False,NaN,NaN,NaN,NaN
153,CMS002_Water1_Rb_S127_L004,False,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,False,NaN,NaN,NaN,NaN
112,CMS002_033a_Rb_S167_L004,True,Culex,tarsalis,Culex,tarsalis
104,CMS002_028e_Rb_S158_L004,True,Culex,erythrothorax,Culex,erythrothorax
105,CMS002_029a_Rb_S159_L004,True,Culex,tarsalis,Culex,tarsalis

#Note: The discordant samples correspond primarily to water controls because they have no calls for either visual or compute fields. There are also 4 mosquito specimens where computed and visual calls are different: CMS001_025, CMS001_024, CMS001_045, and CMS001_058. Note that CMS001_058 was also discordant, but this was because no visual call was provided for this specimen. The other mosquito specimens with a discordant call were likely visual mis-calls or mis-annotations. Based on this, 

##Action items: 1) I'm going to use compute_genus and compute_species calls for TableS1 genus and species calls. 2) Review and confirm overall kmer results & specific discordant results with JB. 3) Should probably highlight these 4 samples with discordant visual and compute calls. 4) Develop and run directed analysis of a transcript (or a set of transcripts) to provide conventional ground truth data to validate [Reviewers will ask for this].

In [12]:
print(AllMosData.columns.values)

['NewIDseqName' 'OldIDseqName' 'czbiohub-mosquito_sequences_id'
 'raw_sequence_run_directory' 'host' 'sample_type' 'nucleotide_type'
 'collection_date' 'collection_lat' 'collection_long' 'Habitat'
 'Population' 'collected_by' 'preservation_method' 'sex' 'life_stage'
 'visual_genus' 'visual_species' 'compute_genus' 'compute_species'
 'blood_fed' 'sample_unit' 'known_organism' 'detection_method'
 'library_prep' 'sequencer' 'rna_dna_input_ng' 'library_prep_batch'
 'extraction_batch' 'Notes:' 'visual_equals_compute']

#Generating new dataframe "TableS1data" with subset of relevant data for TableS1.

In [26]:
TableS1data = AllMosData.loc[:,('NewIDseqName','compute_genus','compute_species','sex','blood_fed','collected_by','collection_date','collection_lat','collection_long','Habitat')]

In [27]:
TableS1data

,NewIDseqName,compute_genus,compute_species,sex,blood_fed,collected_by,collection_date,collection_lat,collection_long,Habitat
0,CMS001_001_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
1,CMS001_002_Ra_S1,Culiseta,particeps,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
2,CMS001_003_Ra_S2,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
3,CMS001_004_Ra_S2,Culiseta,incidens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
4,CMS001_005_Ra_S3,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030,Residential
5,CMS001_006_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
6,CMS001_007_Ra_S12,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
7,CMS001_008_Ra_S3,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009_Ra_S13,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
10,CMS001_011_Ra_S4,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
12,CMS001_013_Ra_S5,Culiseta,incidens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
14,CMS001_015_Ra_S13,Culiseta,inornata,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
15,CMS001_016_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
16,CMS001_017_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
17,CMS001_018_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020_Ra_S15,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
20,CMS001_021_Ra_S16,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
21,CMS001_022_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023_Ra_S17,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
23,CMS001_024_Ra_S15,Culiseta,particeps,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
24,CMS001_025_Ra_S7,Culiseta,incidens,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
25,CMS001_026_Ra_S18,Culex,tarsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.509530,-121.931130,Park
26,CMS001_027_Ra_S16,Culex,tarsalis,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.866500,-122.310510,Park / Undeveloped
27,CMS001_028_Ra_S17,Culex,pipiens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
28,CMS001_029_Ra_S18,Culex,pipiens,female,blood fed,ALCO,2017-09-13T00:00:00Z,37.684730,-121.913410,Park / adjacent to Industrial (waste water tr...
29,CMS001_030_Ra_S7,Culex,tarsalis,female,blood fed,ALCO,2017-09-10T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.739939,-121.305636,Commercial/Industrial/Transportation
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.824306,-121.257067,Wetland Preserve
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.897572,-121.311747,Commercial/Industrial/Transportation
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.836781,-121.391190,Agriculture & Residential
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.772222,-121.469500,Agriculture
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
TableS1data.sort_values(by = ['collected_by','compute_genus','compute_species'])

,NewIDseqName,compute_genus,compute_species,sex,blood_fed,collected_by,collection_date,collection_lat,collection_long,Habitat
10,CMS001_011_Ra_S4,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
0,CMS001_001_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
4,CMS001_005_Ra_S3,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030,Residential
5,CMS001_006_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009_Ra_S13,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
15,CMS001_016_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
16,CMS001_017_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
17,CMS001_018_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020_Ra_S15,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
20,CMS001_021_Ra_S16,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
21,CMS001_022_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023_Ra_S17,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
33,CMS001_034_Ra_S19,Culex,erythrothorax,female,blood fed,ALCO,2017-09-11T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
35,CMS001_036_Ra_S20,Culex,erythrothorax,female,blood fed,ALCO,2017-09-11T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
44,CMS001_045_Ra_S2,Culex,erythrothorax,female,blood fed,ALCO,2017-08-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
46,CMS001_047_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-08-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
47,CMS001_048_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-08-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
48,CMS001_049_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-08-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
49,CMS001_050_Ra_S23,Culex,erythrothorax,female,blood fed,ALCO,2017-10-17T00:00:00Z,37.506080,-121.998570,Marsh
51,CMS001_052_Ra_S7,Culex,erythrothorax,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
52,CMS001_053_Ra_S8,Culex,erythrothorax,female,blood fed,ALCO,2017-10-07T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
54,CMS001_055_Ra_S9,Culex,erythrothorax,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
55,CMS001_056_Ra_S10,Culex,erythrothorax,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
56,CMS001_057_Ra_S11,Culex,erythrothorax,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
57,CMS001_058_Ra_S9,Culex,erythrothorax,female,blood fed,ALCO,NaN,NaN,NaN,NaN
2,CMS001_003_Ra_S2,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
...,...,...,...,...,...,...,...,...,...,...
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
98,CMS002_027a_Rb_S152_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-15T00:00:00Z,34.150853,-117.642917,Residential
99,CMS002_027b_Rb_S153_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-15T00:00:00Z,34.150853,-117.642917,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
105,CMS002_029a_Rb_S159_L004,Culex,tarsalis,NaN,unfed,WVAL,2017-11-15T00:00:00Z,33.925833,-117.659722,Residential
106,CMS002_029b_Rb_S160_L004,Culex,tarsalis,NaN,unfed,WVAL,2017-11-15T00:00:00Z,33.925833,-117.659722,Residential
107,CMS002_029c_Rb_S161_L004,Culex,tarsalis,NaN,unfed,WVAL,2017-11-15T00:00:00Z,33.925833,-117.659722,Residential
108,CMS002_029d_Rb_S162_L004,Culex,tarsalis,NaN,unfed,WVAL,2017-11-15T00:00:00Z,33.925833,-117.659722,Residential
109,CMS002_029e_Rb_S164_L004,Culex,tarsalis,female,unfed,WVAL,2017-11-15T00:00:00Z,33.925833,-117.659722,Residential
60,CMS001_water1_S11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,CMS001_water2_S24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,CMS001_water3_Qiagen_S26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,CMS001_water4_Zymo_S27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,CMS001_water5_RNA_A_S12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Strip unnecessary suffix string from 'NewIDseqName' values

In [29]:
TableS1data.replace(r'\_Ra.*', '', regex=True)

,NewIDseqName,compute_genus,compute_species,sex,blood_fed,collected_by,collection_date,collection_lat,collection_long,Habitat
0,CMS001_001,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
1,CMS001_002,Culiseta,particeps,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
2,CMS001_003,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
3,CMS001_004,Culiseta,incidens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
4,CMS001_005,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030,Residential
5,CMS001_006,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
6,CMS001_007,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
7,CMS001_008,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
10,CMS001_011,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
12,CMS001_013,Culiseta,incidens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
14,CMS001_015,Culiseta,inornata,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
15,CMS001_016,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
16,CMS001_017,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
17,CMS001_018,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
20,CMS001_021,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
21,CMS001_022,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
23,CMS001_024,Culiseta,particeps,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
24,CMS001_025,Culiseta,incidens,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
25,CMS001_026,Culex,tarsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.509530,-121.931130,Park
26,CMS001_027,Culex,tarsalis,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.866500,-122.310510,Park / Undeveloped
27,CMS001_028,Culex,pipiens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
28,CMS001_029,Culex,pipiens,female,blood fed,ALCO,2017-09-13T00:00:00Z,37.684730,-121.913410,Park / adjacent to Industrial (waste water tr...
29,CMS001_030,Culex,tarsalis,female,blood fed,ALCO,2017-09-10T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.739939,-121.305636,Commercial/Industrial/Transportation
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.824306,-121.257067,Wetland Preserve
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.897572,-121.311747,Commercial/Industrial/Transportation
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.836781,-121.391190,Agriculture & Residential
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.772222,-121.469500,Agriculture
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Strip unnecessary time suffix string from 'collection_date' values

In [30]:
TableS1data.replace(r'T00.*', '', regex=True)

,NewIDseqName,compute_genus,compute_species,sex,blood_fed,collected_by,collection_date,collection_lat,collection_long,Habitat
0,CMS001_001_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
1,CMS001_002_Ra_S1,Culiseta,particeps,female,blood fed,ALCO,2017-09-21,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
2,CMS001_003_Ra_S2,Culex,pipiens,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
3,CMS001_004_Ra_S2,Culiseta,incidens,female,blood fed,ALCO,2017-09-12,37.715200,-122.194310,Industrial (waste water treatment plant)
4,CMS001_005_Ra_S3,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29,37.788860,-122.299030,Residential
5,CMS001_006_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
6,CMS001_007_Ra_S12,Culiseta,particeps,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
7,CMS001_008_Ra_S3,Culiseta,particeps,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009_Ra_S13,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
10,CMS001_011_Ra_S4,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
12,CMS001_013_Ra_S5,Culiseta,incidens,female,blood fed,ALCO,2017-09-19,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048380,Marsh
14,CMS001_015_Ra_S13,Culiseta,inornata,female,blood fed,ALCO,2017-09-27,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
15,CMS001_016_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048460,Marsh
16,CMS001_017_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048380,Marsh
17,CMS001_018_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020_Ra_S15,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048460,Marsh
20,CMS001_021_Ra_S16,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048380,Marsh
21,CMS001_022_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023_Ra_S17,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06,37.581910,-122.048380,Marsh
23,CMS001_024_Ra_S15,Culiseta,particeps,female,blood fed,ALCO,2017-10-06,37.581910,-122.048380,Marsh
24,CMS001_025_Ra_S7,Culiseta,incidens,female,blood fed,ALCO,2017-09-21,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
25,CMS001_026_Ra_S18,Culex,tarsalis,female,blood fed,ALCO,2017-09-19,37.509530,-121.931130,Park
26,CMS001_027_Ra_S16,Culex,tarsalis,female,blood fed,ALCO,2017-09-12,37.866500,-122.310510,Park / Undeveloped
27,CMS001_028_Ra_S17,Culex,pipiens,female,blood fed,ALCO,2017-09-12,37.715200,-122.194310,Industrial (waste water treatment plant)
28,CMS001_029_Ra_S18,Culex,pipiens,female,blood fed,ALCO,2017-09-13,37.684730,-121.913410,Park / adjacent to Industrial (waste water tr...
29,CMS001_030_Ra_S7,Culex,tarsalis,female,blood fed,ALCO,2017-09-10,37.715200,-122.194310,Industrial (waste water treatment plant)
...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24,34.151881,-117.662950,Residential
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24,34.151881,-117.662950,Residential
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24,34.151881,-117.662950,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29,33.972500,-117.714444,Residential
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29,33.937780,-117.633056,Marsh/Swamp
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21,38.739939,-121.305636,Commercial/Industrial/Transportation
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21,38.824306,-121.257067,Wetland Preserve
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21,38.897572,-121.311747,Commercial/Industrial/Transportation
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21,38.836781,-121.391190,Agriculture & Residential
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21,38.772222,-121.469500,Agriculture
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28,38.787211,-121.372895,Residential
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-28,38.787211,-121.372895,Residential
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Tidying up dataframe: renaming columns

In [38]:
TableS1data.rename(columns={'NewIDseqName':'Specimen ID','compute_genus':'Genus','compute_species':'Species','sex':'Sex','blood_fed':'Status','collected_by':'Site','collection_date':'Collection Date','collection_lat':'Latitude','collection_long':'Longitude'}, inplace=True)

In [40]:
TableS1data[['Specimen ID','Genus','Species','Sex','Status','Site','Collection Date','Latitude','Longitude','Habitat']]

,Specimen ID,Genus,Species,Sex,Status,Site,Collection Date,Latitude,Longitude,Habitat
0,CMS001_001_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
1,CMS001_002_Ra_S1,Culiseta,particeps,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
2,CMS001_003_Ra_S2,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
3,CMS001_004_Ra_S2,Culiseta,incidens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
4,CMS001_005_Ra_S3,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030,Residential
5,CMS001_006_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
6,CMS001_007_Ra_S12,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
7,CMS001_008_Ra_S3,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009_Ra_S13,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
10,CMS001_011_Ra_S4,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
12,CMS001_013_Ra_S5,Culiseta,incidens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
14,CMS001_015_Ra_S13,Culiseta,inornata,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
15,CMS001_016_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
16,CMS001_017_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
17,CMS001_018_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020_Ra_S15,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
20,CMS001_021_Ra_S16,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
21,CMS001_022_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023_Ra_S17,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
23,CMS001_024_Ra_S15,Culiseta,particeps,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
24,CMS001_025_Ra_S7,Culiseta,incidens,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
25,CMS001_026_Ra_S18,Culex,tarsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.509530,-121.931130,Park
26,CMS001_027_Ra_S16,Culex,tarsalis,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.866500,-122.310510,Park / Undeveloped
27,CMS001_028_Ra_S17,Culex,pipiens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
28,CMS001_029_Ra_S18,Culex,pipiens,female,blood fed,ALCO,2017-09-13T00:00:00Z,37.684730,-121.913410,Park / adjacent to Industrial (waste water tr...
29,CMS001_030_Ra_S7,Culex,tarsalis,female,blood fed,ALCO,2017-09-10T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.739939,-121.305636,Commercial/Industrial/Transportation
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.824306,-121.257067,Wetland Preserve
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.897572,-121.311747,Commercial/Industrial/Transportation
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.836781,-121.391190,Agriculture & Residential
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.772222,-121.469500,Agriculture
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
TableS1=TableS1data[['Specimen ID','Genus','Species','Sex','Status','Site','Collection Date','Latitude','Longitude','Habitat']]

In [42]:
TableS1

,Specimen ID,Genus,Species,Sex,Status,Site,Collection Date,Latitude,Longitude,Habitat
0,CMS001_001_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-10-03T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
1,CMS001_002_Ra_S1,Culiseta,particeps,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
2,CMS001_003_Ra_S2,Culex,pipiens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
3,CMS001_004_Ra_S2,Culiseta,incidens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
4,CMS001_005_Ra_S3,Culex,erythrothorax,female,blood fed,ALCO,2017-09-29T00:00:00Z,37.788860,-122.299030,Residential
5,CMS001_006_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
6,CMS001_007_Ra_S12,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
7,CMS001_008_Ra_S3,Culiseta,particeps,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
8,CMS001_009_Ra_S13,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
9,CMS001_010_Ra_S1,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
10,CMS001_011_Ra_S4,Aedes,dorsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
11,CMS001_012_Ra_S4,Culex,erythrothorax,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
12,CMS001_013_Ra_S5,Culiseta,incidens,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
13,CMS001_014_Ra_S5,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
14,CMS001_015_Ra_S13,Culiseta,inornata,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
15,CMS001_016_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
16,CMS001_017_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
17,CMS001_018_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
18,CMS001_019_Ra_S14,Culex,erythrothorax,female,blood fed,ALCO,2017-10-04T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
19,CMS001_020_Ra_S15,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048460,Marsh
20,CMS001_021_Ra_S16,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
21,CMS001_022_Ra_S6,Culex,erythrothorax,female,blood fed,ALCO,2017-09-27T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
22,CMS001_023_Ra_S17,Culex,erythrothorax,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
23,CMS001_024_Ra_S15,Culiseta,particeps,female,blood fed,ALCO,2017-10-06T00:00:00Z,37.581910,-122.048380,Marsh
24,CMS001_025_Ra_S7,Culiseta,incidens,female,blood fed,ALCO,2017-09-21T00:00:00Z,37.556970,-122.079380,Marsh / Wildlife Refuge / Park
25,CMS001_026_Ra_S18,Culex,tarsalis,female,blood fed,ALCO,2017-09-19T00:00:00Z,37.509530,-121.931130,Park
26,CMS001_027_Ra_S16,Culex,tarsalis,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.866500,-122.310510,Park / Undeveloped
27,CMS001_028_Ra_S17,Culex,pipiens,female,blood fed,ALCO,2017-09-12T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
28,CMS001_029_Ra_S18,Culex,pipiens,female,blood fed,ALCO,2017-09-13T00:00:00Z,37.684730,-121.913410,Park / adjacent to Industrial (waste water tr...
29,CMS001_030_Ra_S7,Culex,tarsalis,female,blood fed,ALCO,2017-09-10T00:00:00Z,37.715200,-122.194310,Industrial (waste water treatment plant)
...,...,...,...,...,...,...,...,...,...,...
131,CMS002_045e_Rb_S188_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
132,CMS002_045f_Rb_S189_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
133,CMS002_045g_Rb_S190_L004,Aedes,albopictus,NaN,unfed,WVAL,2017-10-24T00:00:00Z,34.151881,-117.662950,Residential
134,CMS002_046a_Rb_S191_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
135,CMS002_046b_Rb_S192_L004,Culex,quinquefasciatus,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.972500,-117.714444,Residential
136,CMS002_047a_Rb_S193_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
137,CMS002_047b_Rb_S194_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
138,CMS002_047c_Rb_S195_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
139,CMS002_047d_Rb_S196_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
140,CMS002_047e_Rb_S197_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
141,CMS002_047f_Rb_S198_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
142,CMS002_047g_Rb_S200_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
143,CMS002_047h_Rb_S1_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
144,CMS002_047i_Rb_S2_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
145,CMS002_047j_Rb_S3_L004,Culex,erythrothorax,NaN,unfed,WVAL,2017-11-29T00:00:00Z,33.937780,-117.633056,Marsh/Swamp
146,CMS002_049a_Rb_S4_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.739939,-121.305636,Commercial/Industrial/Transportation
147,CMS002_050a_Rb_S5_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.824306,-121.257067,Wetland Preserve
148,CMS002_051a_Rb_S6_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.897572,-121.311747,Commercial/Industrial/Transportation
149,CMS002_053a_Rb_S7_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.836781,-121.391190,Agriculture & Residential
150,CMS002_054a_Rb_S8_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-21T00:00:00Z,38.772222,-121.469500,Agriculture
151,CMS002_056a_Rb_S9_L004,Culex,tarsalis,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
152,CMS002_057a_Rb_S10_L004,Culex,pipiens,NaN,unfed,PLCR,2017-11-28T00:00:00Z,38.787211,-121.372895,Residential
153,CMS002_Water1_Rb_S127_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,CMS002_Water2_Rb_S139_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,CMS002_Water3_Rb_S151_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,CMS002_Water4_Rb_S163_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,CMS002_Water5_Rb_S175_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,CMS002_Water6_Rb_S187_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,CMS002_Water7_Rb_S199_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,CMS002_Water8_Rb_S11_L004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
TableS1.to_csv('TableS1_CMS.csv', index=False, header=True)