# Bloodmeal Calling

In this notebook, we analyze contigs from each bloodfed mosquito sample with LCA in *Vertebrata*. The potential bloodmeal call is the lowest taxonomic group consistent with the LCAs of all such contigs in a sample.

In [1]:
import pandas as pd
import numpy as np
from ete3 import NCBITaxa
import boto3
import tempfile
import subprocess
import os
import io
import re
import time
import json
ncbi = NCBITaxa()

In [2]:
df = pd.read_csv('../../figures/fig3/all_contigs_df.tsv', sep='\t', 
                dtype={'taxid': np.int})
df = df[df['group'] == 'Metazoa']

In [3]:
def taxid2name(taxid):
    return ncbi.get_taxid_translator([taxid])[taxid]

There is a partial order on taxa: $a < b$ if $a$ is an ancestor of $b$. A taxon $t$ is admissible as a bloodmeal call for a given sample if it is consistent with all *Vertebrata* LCA taxa $b$: $t < b$ or $b < t$ for all $b$. That is, a taxon is admissable if t in lineage(b) or b in lineage(t) for all b.

We will report the lowest admissable taxon for each sample.

In [4]:
def get_lowest_admissable_taxon(taxa):
    lineages = [ncbi.get_lineage(taxid) for taxid in taxa]
    
    if len(lineages) == 0:
        return 0
    
    all_taxa = np.unique([taxid for lineage in lineages for taxid in lineage])
    non_leaf_taxa = np.unique([taxid for lineage in lineages for taxid in lineage[:-1]])
    leaf_taxa = [taxid for taxid in all_taxa if taxid not in non_leaf_taxa]
    
    leaf_lineages = [ncbi.get_lineage(taxid) for taxid in leaf_taxa]
    leaf_common_ancestors = set.intersection(*[set(l) for l in leaf_lineages])
    lca = [taxid for taxid in leaf_lineages[0] if taxid in leaf_common_ancestors][-1]
        
    return lca

In [5]:
def filter_taxon(taxid, exclude = [], # drop these taxa
                               exclude_children = [], # drop children of these taxa
                               parent=None # only keep children of the parent
                ):
    if taxid in exclude:
        return False
    
    lineage = ncbi.get_lineage(taxid)
    
    exclude_children = set(exclude_children)
    
    if len(set(lineage) & set(exclude_children)) > 0:
        return False
    
    if parent and parent not in lineage:
        return False
    
    return True

In [6]:
vertebrate_taxid = 7742
primate_taxid = 9443

In [7]:
euarchontoglires_taxid = 314146

In [8]:
df['filter_taxon'] = df['taxid'].apply(lambda x: filter_taxon(x, 
                                           exclude = [euarchontoglires_taxid],
                                           exclude_children = [primate_taxid],
                                           parent = vertebrate_taxid))

How many nonprimate vertebrate contigs per sample? 1 to 11.

In [9]:
%pprint
sorted(df[df['filter_taxon']].groupby('sample').count()['taxid'])

Pretty printing has been turned OFF

[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 8, 8, 8, 8, 9, 9, 10, 10, 11]

In [10]:
lowest_admissable_taxa = []
for sample in df['sample'].unique():
    taxid = get_lowest_admissable_taxon(df[(df['sample'] == sample) & df['filter_taxon']]['taxid'])
    name = taxid2name(taxid) if taxid else "NA"
    lowest_admissable_taxa.append({'sample': sample, 'name': name, 'taxid': taxid})
lowest_admissable_taxa = pd.DataFrame(lowest_admissable_taxa).sort_values('sample')
lowest_admissable_taxa = lowest_admissable_taxa[['sample', 'taxid', 'name']]

In [11]:
lowest_admissable_taxa.head()

              sample    taxid           name
39  CMS001_001_Ra_S1    35500         Pecora
0   CMS001_003_Ra_S2    35500         Pecora
21  CMS001_004_Ra_S2   379584     Caniformia
6   CMS001_005_Ra_S3  1437010  Boreoeutheria
3   CMS001_008_Ra_S3    35500         Pecora

In [12]:
partition = "Pecora Carnivora Homininae Rodentia Leporidae Aves".split()
partition = ncbi.get_name_translator(partition)
partition = {v[0]: k for k, v in partition.items()}

def get_category(taxid):
    if not taxid:
        return None
    lineage = ncbi.get_lineage(taxid)
    for k in partition:
        if k in lineage:
            return partition[k]
    else:
        return 'NA'

The ranks of the categories are:

In [13]:
ncbi.get_rank(partition.keys())

{207598: 'subfamily', 33554: 'order', 9989: 'order', 9979: 'family', 35500: 'infraorder', 8782: 'class'}

In [14]:
bloodmeal_calls = lowest_admissable_taxa

bloodmeal_calls['category'] = bloodmeal_calls['taxid'].apply(get_category)

bloodmeal_calls = bloodmeal_calls[bloodmeal_calls['category'] != 'NA']
bloodmeal_calls = bloodmeal_calls[bloodmeal_calls['name'] != 'NA']

bloodmeal_calls = bloodmeal_calls[['sample', 'category', 'name']]
bloodmeal_calls = bloodmeal_calls.sort_values('sample')
bloodmeal_calls = bloodmeal_calls.rename(columns={'sample': 'Sample',
                                                  'category': 'Bloodmeal Category',
                                                  'name': 'Bloodmeal Call'})

In [15]:
metadata = pd.read_csv('../../data/metadata/CMS001_CMS002_MergedAnnotations.csv')
metadata = metadata[['NewIDseqName', 'Habitat', 'collection_lat', 'collection_long', 'ska_genus', 'ska_species']].rename(
    columns = {'NewIDseqName': 'Sample',
               'ska_genus': 'Genus',
    'ska_species': 'Species',
     'collection_lat': 'Lat',
     'collection_long': 'Long'})

In [16]:
metadata['Sample']

0             CMS001_001_Ra_S1
1             CMS001_002_Ra_S1
2             CMS001_003_Ra_S2
3             CMS001_004_Ra_S2
4             CMS001_005_Ra_S3
                ...
143     CMS002_051a_Rb_S6_L004
144     CMS002_053a_Rb_S7_L004
145     CMS002_054a_Rb_S8_L004
146     CMS002_056a_Rb_S9_L004
147    CMS002_057a_Rb_S10_L004
Name: Sample, Length: 148, dtype: object

In [17]:
bloodmeal_calls.merge(metadata, on='Sample', how='left')

,Sample,Bloodmeal Category,Bloodmeal Call,Habitat,Lat,Long,Genus,Species
0,CMS001_001_Ra_S1,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
1,CMS001_003_Ra_S2,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culiseta,particeps
2,CMS001_004_Ra_S2,Carnivora,Caniformia,Industrial (waste water treatment plant),37.715200,-122.194310,Culex,pipiens
3,CMS001_008_Ra_S3,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culiseta,particeps
4,CMS001_009_Ra_S13,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culiseta,particeps
5,CMS001_010_Ra_S1,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
6,CMS001_011_Ra_S4,Rodentia,Muroidea,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
7,CMS001_012_Ra_S4,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Aedes,dorsalis
8,CMS001_013_Ra_S5,Leporidae,Oryctolagus cuniculus,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
9,CMS001_015_Ra_S13,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
10,CMS001_016_Ra_S6,Pecora,Pecora,Marsh,37.581910,-122.048460,Culiseta,inornata
11,CMS001_018_Ra_S14,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
12,CMS001_019_Ra_S14,Carnivora,Carnivora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
13,CMS001_020_Ra_S15,Leporidae,Leporidae,Marsh,37.581910,-122.048460,Culex,erythrothorax
14,CMS001_022_Ra_S6,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
15,CMS001_023_Ra_S17,Aves,Anas platyrhynchos,Marsh,37.581910,-122.048380,Culex,erythrothorax
16,CMS001_025_Ra_S7,Pecora,Odocoileus hemionus hemionus,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culiseta,particeps
17,CMS001_027_Ra_S16,Aves,Passeriformes,Park / Undeveloped,37.866500,-122.310510,Culex,tarsalis
18,CMS001_028_Ra_S17,Carnivora,Caniformia,Industrial (waste water treatment plant),37.715200,-122.194310,Culex,tarsalis
19,CMS001_029_Ra_S18,Aves,Passeriformes,Park / adjacent to Industrial (waste water tr...,37.684730,-121.913410,Culex,pipiens
20,CMS001_030_Ra_S7,Carnivora,Caniformia,Industrial (waste water treatment plant),37.715200,-122.194310,Culex,pipiens
21,CMS001_031_Ra_S19,Carnivora,Procyon lotor,Park,37.806300,-122.257300,Culex,tarsalis
22,CMS001_032_Ra_S7,Aves,Neognathae,Golf Course,37.661260,-122.133350,Culex,tarsalis
23,CMS001_033_Ra_S8,Aves,Gallus gallus,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,tarsalis
24,CMS001_035_Ra_S20,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
25,CMS001_036_Ra_S20,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,tarsalis
26,CMS001_037_Ra_S21,Aves,Porzana carolina,NaN,NaN,NaN,Culex,erythrothorax
27,CMS001_038_Ra_S22,Pecora,Pecora,Marsh,37.583910,-122.092380,Culex,tarsalis
28,CMS001_040_Ra_S21,Aves,Haemorhous mexicanus,Undeveloped,37.499490,-121.933780,Culex,pipiens
29,CMS001_041_Ra_S10,Rodentia,Sciurini,Undeveloped,37.499490,-121.933780,Culex,pipiens
30,CMS001_042_Ra_S23,Carnivora,Felis catus,Golf Course,37.661260,-122.133350,Culex,tarsalis
31,CMS001_043_Ra_S24,Aves,Passeriformes,Golf Course,37.661260,-122.133350,Culex,tarsalis
32,CMS001_045_Ra_S2,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
33,CMS001_046_Ra_S3,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,tarsalis
34,CMS001_047_Ra_S4,Aves,Passeriformes,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
35,CMS001_048_Ra_S5,Rodentia,Rattus norvegicus,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
36,CMS001_049_Ra_S6,Rodentia,Rattus norvegicus,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
37,CMS001_050_Ra_S23,Aves,Neognathae,Marsh,37.506080,-121.998570,Culex,erythrothorax
38,CMS001_052_Ra_S7,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
39,CMS001_053_Ra_S8,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
40,CMS001_054_Ra_S11,Aves,Zonotrichia leucophrys,Marsh / Wildlife Refuge / Park,37.630830,-122.142670,Culex,pipiens
41,CMS001_057_Ra_S11,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culex,erythrothorax
42,CMS001_058_Ra_S9,Rodentia,Microtus ochrogaster,NaN,NaN,NaN,Culex,erythrothorax
43,CMS001_059_Ra_S10,Aves,Passeriformes,Industrial (waste water treatment plant),37.668300,-122.159150,Culex,pipiens
44,CMS001_060_Ra_S12,Pecora,Pecora,Marsh / Wildlife Refuge / Park,37.556970,-122.079380,Culiseta,inornata
45,CMS002_025c_Rb_S142_L004,Rodentia,Mus musculus,Residential,33.954615,-117.693828,Aedes,aegypti

In [18]:
bloodmeal_calls.to_csv(
    '../../figures/fig4/bloodmeal_calls.csv', index=False)